/*colors:
gris 353535
azulVerde 3C6E71
fff
grisclaro D9D9D9
azul oscuro 284B63
azul claro 81929E
41EAD4

fonts:
font-family: 'Montserrat', sans-serif;

200
400
600
700
*/

body{
    background: #353535;
    padding: 3em;
}
h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.main-img{
    width: 25em;
    margin-right: 3em;
    
}
h2{
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding-top: 1em;
}
h3{
    color: #41EAD4;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.sub-title-espanol{
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding-top: 0.2em;
}
.text{
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 0.2em;
}
.line{
    width: 70px;
    height: 2px;
    padding: 0;
    background: #41EAD4;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 20px;
}
svg{
    color: #fff;
}

/*knoledge*/
.platforms-names{
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-left: .6em;
}
.knowledge-container{
    display: inline-block;
}
/*knoledge*/

/*Portfolio*/
.image-size {
    width: 100%;
}

.porfolio-container {
    margin: 0 2em 2.5em 2em;
    background-color: #3c3c3c;
    border-radius: 5px;
    width: 300px;
    padding: 0;
}

.portfolio-title {
    margin: 0 0 0.5em 1em;
    padding: 0.5em 0 0 0;
    font-size: 1.4em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.description {
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 1em;
    padding: 0em;
    color: #fff;
}

.btn-vermas{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #6fb2de;
    margin: 0.2em 0 1em 0;
    width: 280px;
    border-radius: 15px;
}
.btn-vermas:hover{
    color: #3C6E71;
    transition: all ease .1s;
    text-decoration: underline;
}
.porfolio-icons{
    display: inline;
}
/*Portfolio*/

/*Personal info*/
.info-links{
    text-decoration: none;
    color: #6fb2de;
}
.info-links svg{
    margin-left: .3em;
}
.info-links:hover{
    color: #41EAD4;
    transition: all ease .2s;
}
.personal-info-svg{
    min-width: 35px;
}
/*Personal info*/

/* The sidebar menu */
.sidenav {
    height: 550px; /* Full-height: remove this if you want "auto" height */
    width: 270px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-left: 1em;
    background-color: #1F1F1F;
    margin: 1em;
    border-radius: 40px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 50px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #EBEBEB;
    display: block;
  }
  .sidenav p{
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-top: 0.2em;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #3C6E71;
    transition: all ease .2s;
  }
  
  /* Style page content */
  .main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media only screen and (max-width: 1350px) {
    .sidenav{
        display: none;
    }
    .main{
        margin-left: 0px;
    }
    .main-img{
        margin-right: 0em;
    }
    h1{
        font-size: 30px;
    }
    .about-col{
        width: 400px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .about-col{
        width: 600px;
    }
    .name-title{
        width: 600px;
    }
    /*knoledge*/
    .platforms-names{
        color: #D9D9D9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-left: .6em;
    }
    .knowledge-container{
        display: inline-block;
    }
    .knowledge-section{
        min-width: 180px;
    }
    /*knoledge*/
  }